@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <a href="/Companies/CompanySelector">Välj bolag</a>
}
else
{
    <div class="text-center">
       <h1>Logga in för att bokföra!</h1>
    </div>
}
