@using AccountingApp.ViewModels;
@model SubmitViewModel

<h3><label asp-for="Status">@Model.Status</label></h3>
<h2><a asp-controller="JournalEntries" asp-action="Details" asp-route-Id="@Model.JournalEntryId">Se verifikat</a></h2>
<h2><a asp-controller="JournalEntries" asp-action="Create" asp-route-Id="@Model.CompanyId">Nytt verifikat</a></h2>
